# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env.local

# Backend
backend/vendor/
backend/.env
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php
backend/.phpunit.result.cache
backend/coverage/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE
.idea/
.vscode/settings.json
